<html>
   <head>
      <link rel="stylesheet" href="/static/css/main.css">
   </head>
   <body>
      <center>
         <div class="header">
            <h1>Welcome to Blackjack!</h1>
            <form action="/join" method="post">
               <input class="input" name="username" type="text" placeholder="Enter your name"/>
               <input class="submit" type="submit" value="Join" /></p>
            </form>
            <p><font color=red>{{err_msg}}</font></p>
         </div>
      </center>
   </body>
</html>