<html>
   <head>
      <link rel="stylesheet" href="/static/css/main.css">
   </head>
   <body>
      <center>
         <div class="header">
            <h5>You joined as {{cur_user}} ({{players[cur_user].ip}})</h5>
            <p>Your hand: {{players[cur_user].showHand()}}<br>
            {% if players[cur_user].points() == float('-inf') %}
               <p>Points: Busted</p>
            {% elif players[cur_user].points() == float('inf') %}
               <p>Points: BlackJack!</p>
            {% else %}
               <p>Points: {{players[cur_user].points()}}</p>
            {% endif %}
         </div>
      </center>
      <font color=blue size="7">
         {% for name, p in players.items() %}
            {% if name != cur_user %}
               <p>{{name}}: {{p.showFirstCard()}}</p>
            {% endif %}
         {% endfor %}
      </font>
      <center>
         <div class="header">
            {% if not start_game %}
               <h5>Waiting for players ...</h5>
               <form action="/start" method="post">
                  <input class="submit" type="submit" value="START" />
               </form>
            {% else %}
               <h5>Game has started: {{order}}</h5>
               {% if cur_user == order[0] %}
                  Your turn: <form action="/hit" method="post"><input class="submit" type="submit" value="HIT" /></form> or
                             <form action="/stand" method="post"><input class="submit" type="submit" value="STAND" />
               {% else %}
                  Waiting for {{order[0]}} ...
               {% endif %}
            {% endif %}
         </div>
      </center>
   </body>
</html>
