<html>
   <head>
      <link rel="stylesheet" href="/static/css/main.css">
   </head>
   <body>
      <center>
         <div id="main">
            <h1>You joined as {{cur_user}} ({{players[cur_user].ip}})</h1>
            <h2>Your current hand: {{players[cur_user].showHand()}}, points: {{players[cur_user].points()}}</h2>
            {% if not start_game %}
               <h3>Waiting for players ...</h3>
               <form action="/start" method="post">
                  <input id="submit" type="submit" value="START" /></p>
               </form>
            {% else %}
               <h1>Game has started.</h1>
            {% endif %} 
         </div>
      </center>
      <font color=blue size="6">
         {% for name, p in players.items() %}
            {% if name != cur_user %}
               <p>{{name}}: {{p.showFirstCard()}}</p>
            {% endif %}
         {% endfor %}
      </font>
   </body>
</html>
