<html>
   <head>
      <link rel="stylesheet" href="/static/css/main.css">
   </head>
   <body>
      <center>
         <div class="header">
            <h5>You joined as {{cur_user}} ({{players[cur_user].ip}})</h5>
            Your hand: {{players[cur_user].showHand()}}<br>
            Points: 
            {% if players[cur_user].points() < 0 %}
               Busted
            {% elif players[cur_user].points() > 999 %}
               BlackJack!
            {% else %}
               {{players[cur_user].points()}}
            {% endif %}
         </div>
      </center>
      <font color=blue size="7">
         {% for name, p in players.items() %}
            {% if name != cur_user %}
               <p>{{name}}: {{p.showFirstCard()}}</p>
            {% endif %}
         {% endfor %}
      </font>
      <center>
         <div class="header">
            {% if not start_game %}
               <h5>Waiting for players ...</h5>
               <form action="/start" method="post">
                  <input class="submit" type="submit" value="START" />
               </form>
            {% else %}
               <h5>Game has started: {{players_order}}, current order: {{cur_order}}</h5>
               {% if cur_user == players_order[cur_order] %}
                  Your turn: <form action="/hit" method="post"><input class="submit" type="submit" value="HIT" /></form>
                             <form action="/stand" method="post"><input class="submit" type="submit" value="STAND" />
               {% else %}
                  Waiting for {{players_order[cur_order]}} ...
               {% endif %}
            {% endif %}
         </div>
      </center>
   </body>
</html>
